[tool.poetry]
name = "diffsync"
version = "1.4.3"
description = "Library to easily sync/diff/update 2 different data sources"
authors = ["Network to Code, LLC <info@networktocode.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://diffsync.readthedocs.io"
repository = "https://github.com/networktocode/diffsync"
documentation = "https://diffsync.readthedocs.io"
keywords = ["source-of-truth", "synchronization"]
include = [
    "CHANGELOG.md",
    "LICENSE",
    "README.md",
]

[tool.poetry.dependencies]
python = "^3.6.2"
pydantic = "^1.7.4,!=1.8,!=1.8.1"
structlog = ">= 20.1.0, < 22.0.0"
packaging = "^21.3"
colorama = {version = "^0.4.3", optional = true}
# For Pydantic
dataclasses = {version = "^0.7", python = "~3.6"}

[tool.poetry.dev-dependencies]
pytest = "^6.1.0"
pyyaml = "^5.3"
black = "^21.10b0"
pylint = "^2.4.4"
pydocstyle = "^5.0.2"
yamllint = "^1.20.0"
bandit = "^1.6.2"
invoke = "^1.4.1"
flake8 = "^3.8.3"
mypy = "^0.782"
pytest-cov = "^2.10.1"
pytest-structlog = "^0.3"
coverage = {extras = ["toml"], version = "^5.3"}
Sphinx = "^4.0.2"
m2r2 = "^0.2.7"
sphinx-rtd-theme = "^0.5.2"
toml = "^0.10.2"

[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
        /(
          \.git
        | \.tox
        | \.venv
        | env/
        | _build
        | build
        | dist
        )/
    '''

[tool.coverage.run]
branch = true

[tool.pylint.general]
extension-pkg-whitelist = [
    "pydantic"
]

[tool.pylint.basic]
# No docstrings required for private methods (Pylint default), or for test_ functions.
no-docstring-rgx="^(_|test_)"

[tool.pylint.messages_control]
# Line length is enforced by Black, so pylint doesn't need to check it.
# Pylint and Black disagree about how to format multi-line arrays; Black wins.
disable = """,
    line-too-long,
    bad-continuation,
    """

[tool.pylint.miscellaneous]
# Don't flag TODO as a failure, let us commit with things that still need to be done in the code
notes = """,
    FIXME,
    XXX,
    """
    
[tool.pylint.similarities]
# There's a lot of duplicate code in the examples/backend_*.py files - don't complain about it for now
min-similarity-lines = 20

[tool.pytest.ini_options]
testpaths = [
    "tests"
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
